<p>Write a review for </p>

<div>
<p>Your Name: <input type="text" [(ngModel)]="review.name"></p>
<p>Stars: <input type="number" [(ngModel)]="review.stars"></p>
<p>Your Review: <input type="text" [(ngModel)]="review.content"></p>
<button type="button" [routerLink]="['/restaurants/' + restaurant._id]">Cancel</button>
<button type="submit" (click)="reviewRestaurant(review)">Submit</button>
</div>


<!-- <p>Write a review for {{restaurant.name}}</p>


<div>
<p>Your Name: <input type="text" [(ngModel)]="review.name"></p>
<div *ngIf='name'>Name must be 3 characters.</div>
<p>Stars: <select class="select" name="stars" [(ngModel)]="review.stars">
    <option selected="selected" value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
</select></p>
<p>Your Review: <input type="text" [(ngModel)]="review.content"></p>
<div *ngIf='content'>Review must be 3 characters.</div>
<button type="button" [routerLink]="['/restaurants/' + restaurant._id]">Cancel</button>
<button type="submit" (click)="reviewRestaurant(review)">Submit</button>
</div> -->
